body {
	background-color: #041E42; /* Michigan Blue */
	padding: 10px;
	text-align: center;
}
div {
	display: inline-block;
	text-align: center;
	color: #dddddd;
}
h1 {
	margin: 10px;
	text-align: left;
}
h2 {
	margin: 10px;
	text-align: left;
}
h3 {
	margin: 10px;
	text-align: left;
}

div#sidebarCont {
	padding: 10px 20px;
	margin: 0px 10px;
	border: 1px dotted white;
	width: 15%;
	vertical-align: top;
}
div#mainCont {
	padding: 10px 20px;
	margin: 0px 10px;
	border: 1px dotted white;
	width: 50%;
	vertical-align: top;
}