body {
	background-color: #041E42; /* Michigan Blue */
	padding: 10px;
	text-align: center;
}
div {
	display: inline-block;
	text-align: center;
	color: #dddddd;
}
h1 {
	margin: 10px;
	text-align: left;
}
h2 {
	margin: 10px;
	text-align: left;
}
h3 {
	margin: 10px;
	text-align: left;
}

div.contactImageLinkContainer {
	padding: 0px;
	margin: 0px;
	width: 30%;
	padding-top: 30%;
	background-size: cover;
	padding-left: 2%;
	border: none;
}

div#mail {
	background-image: url("./Images/Mail.png")
}
div#github {
	background-image: url("./Images/GitHub.png")
}
div#linkedin {
	background-image: url("./Images/LinkedIn.png")
}
div#sidebarCont {
	padding: 10px 20px;
	margin: 0px 10px;
	/* border: 1px dotted white; */
	width: 15%;
	vertical-align: top;
	text-align: left;
}
div#mainCont {
	padding: 10px 20px;
	margin: 0px 10px;
	/* border: 1px dotted white; */
	width: 50%;
	vertical-align: top;
	text-align: left;
}
div#linkText {
	width: 100%;
	display: none;
}